<html>
    <head>

        <link rel='stylesheet' href="jedi.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    </head>
    <body ng-app="jedi" ng-controller="ctrl">
        <!-- MENU -->
            <div class="ui secondary  menu">
                <a class="item">
                    <strong>JetJedi</strong>
                </a>
                <a class="item">
                    Home
                </a>
                <a class="active item">
                    Jedis
                </a>
            </div>

        <div id="margin">
            <!-- ADD JEDI BUTTON -->
            
            <button class="ui grey button">
                <i class="plus icon"></i>
                Jedi
            </button>

            <!-- TABELA JEDI -->
            
            <table class="ui single line table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Planet</th>
                        <th>Status</th>
                        <th>Master</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="jedi in jedis">
                        <td>{{ jedi.name }}</td>
                        <td>{{ jedi.planet }}</td>
                        <td>{{ jedi.status }}</td>
                        <td>{{ jedi.master }}</td>
                        <td>
                            <div class="ui grey buttons">
                                <div class="ui button">Actions</div>
                                <div class="ui floating dropdown icon button">
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item"><i class="edit icon"></i> Edit</div>
                                    <div class="item"><i class="delete icon"></i> Remove</div>
                                    <div class="item"><i class="clone icon"></i> Copy</div>
                                </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script src="jetjedi.js"></script>
        <script src="script.js"></script>
    </body>
</html>